<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TIF 2019 MyTT</title>
    <link rel="stylesheet" media="all" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" media="all" href="/static/css/style.css" />
    <script src="{{ .js }}/main.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4641008-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-4641008-11');
    </script>
  </body>
</html>
